<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="bookCardFragmant">
  <a class="Card-picture" href="/books/slug.html" th:href="@{'/books/' + ${book.getSlug()}}">
    <img alt="card.jpg" src="/assets/img/content/main/card.jpg" th:src="${book.getImage()}"/>
    <div class="Card-sale" th:if="${book.isBigDiscount()}"
         th:text="${book.getDiscount()} + '% ' + #{card.discount}">30% скидка
    </div>
    <div class="Card-ribbon" th:if="${book.isBestseller()}">
      <span class="Card-ribbonText" th:text="#{card.bestseller}">Бестселлер</span>
    </div>
    <!-- <a class="Card-status" title="Куплена"><img alt="check.svg" src="/assets/img/icons/check.svg"/></a>-->
    <!-- <a class="Card-status" title="В корзине"><img alt="shopping-basket.svg" src="/assets/img/icons/shopping-basket.svg"/></a>-->
    <!-- <a class="Card-status" title="Отложена"><img alt="heart.svg" src="/assets/img/icons/heart.svg"/></a>-->
  </a>
  <div class="Card-content">
    <strong class="Card-title">
      <a href="/books/slug.html" th:href="@{'/books/' + ${book.getSlug()}}" th:text="${book.getTitle()}">Техника</a>
    </strong>
    <div class="Card-description" th:text="${book.getAuthorsText()}">Кондратенко Валерий Петрович</div>
    <div class="Card-cost">
      <span class="Card-priceOld" th:text="'₽' + ${book.getPrice()}">₽300.00</span>
      <span class="Card-price" th:text="'₽' + ${book.getDiscountPrice()}">₽190.00</span>
    </div>
  </div>
</div>
</body>
</html>