<!DOCTYPE html>
<html lang="ru"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Тут название страницы написать</title>
  <meta content="Описание страницы" name="description"/>
  <meta charset="utf-8"/>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" name="viewport"/>
  <link as="font" crossorigin="anonymous" href="/assets/fonts/Montserrat/Montserrat-SemiBold.woff2" rel="preload"/>
  <link as="font" crossorigin="anonymous" href="/assets/fonts/Montserrat/Montserrat-Light.woff2" rel="preload"/>
  <link as="font" crossorigin="anonymous" href="/assets/fonts/Montserrat/Montserrat-Medium.woff2" rel="preload"/>
  <link as="font" crossorigin="anonymous" href="/assets/fonts/Montserrat/Montserrat-ExtraBold.woff2" rel="preload"/>
  <link href="/assets/css/fonts.min.css?v=52263780" rel="stylesheet"/>
  <link href="/assets/css/basic.min.css?v=52263780" rel="stylesheet"/>
  <link href="/assets/css/extra.min.css?v=52263780" rel="stylesheet"/>
  <script defer="defer" src="/assets/js/scripts.min.js?v=52263780"></script>
</head>
<body class="Site">
<header th:insert="${currentUserDTO == null}
    ? ~{fragments/common_header_fragment :: headerFragment ('GENRES')}
    : ~{fragments/common_header_fragment :: headerUserFragment ('GENRES')}"></header>
<div class="Middle">
  <div class="wrap">
    <main class="Middle-main">
      <h1 class="Middle-title" th:text="#{toolbar.genres}">Жанры</h1>
      <div class="Section">
        <div class="Tags Tags_genres">
          <div class="Tags Tags_embed">
            <div class="Tag" th:each="genre : ${genreValues}">
              <a href="/genres/slug.html"
                 th:href="'/genres/' + ${genre.getSlug()}"
                 th:inline="text">[[${genre.getName()}]]
                <span class="undefined-amount" th:text="'(' + ${genre.getCountBooks} + ')'"></span></a>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
<footer th:insert="${currentUserDTO == null}
  ? ~{fragments/common_footer_fragment :: footerFragment}
  : ~{fragments/common_footer_fragment :: footerUserFragment}"></footer>
<script src="/assets/plg/jQuery/jquery-3.5.1.min.js"></script>
</body>
</html>