<!DOCTYPE html>
<html lang="ru"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Тут название страницы написать</title>
  <meta content="Описание страницы" name="description"/>
  <meta charset="utf-8"/>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" name="viewport"/>
  <link as="font" crossorigin="anonymous" href="/assets/fonts/Montserrat/Montserrat-SemiBold.woff2" rel="preload"/>
  <link as="font" crossorigin="anonymous" href="/assets/fonts/Montserrat/Montserrat-Light.woff2" rel="preload"/>
  <link as="font" crossorigin="anonymous" href="/assets/fonts/Montserrat/Montserrat-Medium.woff2" rel="preload"/>
  <link as="font" crossorigin="anonymous" href="/assets/fonts/Montserrat/Montserrat-ExtraBold.woff2" rel="preload"/>
  <link href="/assets/css/fonts.min.css?v=45744385" rel="stylesheet"/>
  <link href="/assets/css/basic.min.css?v=45744385" rel="stylesheet"/>
  <link href="/assets/css/extra.min.css?v=45744385" rel="stylesheet"/>
  <script defer="defer" src="/assets/js/scripts.min.js?v=45744385"></script>
</head>
<body class="Site">
<header th:replace="~{fragments/common_header_fragment :: headerUserFragment (null)}"></header>
<div class="Middle">
  <div class="Middle-top">
    <div class="wrap">
      <h1 class="Middle-title" th:text="#{profile-page.title}">Личный кабинет</h1>
    </div>
  </div>
  <div class="wrap">
    <main class="Middle-main">
      <h2 class="Middle-title" th:text="#{profile-page.my-profile}">Мой профиль</h2>
      <div class="Tabs Tabs_default">
        <div class="Tabs-links">
          <a class="Tabs-link Tabs-link_ACTIVE" href="#basic" th:text="#{profile-page.basic-info}">Основные сведения</a>
          <a class="Tabs-link" href="#transactions" th:text="#{profile-page.history-transactions}">История
            транзакций</a>
          <a class="Tabs-link" href="#topup" th:text="#{profile-page.top-up-balance}">Пополнить счет</a>
        </div>
        <div class="Tabs-wrap">
          <div class="Tabs-block" id="basic">
            <div class="Profile">
              <form action="#" class="form Profile-form" method="post" th:action="@{/updateUser}"
                    th:object="${draftUserDTO}">
                <div class="row">
                  <div class="row-block">
                    <div class="form-group">
                      <label class="form-label" for="name" th:text="#{profile-page.name}">Имя</label>
                      <input class="form-input" id="name" name="name" th:field="*{name}" th:value="*{name}" type="text"
                             value="Михаил"/>
                    </div>
                    <div class="form-group">
                      <label class="form-label" for="mail" th:text="#{profile-page.email}">E-mail</label>
                      <input class="form-input" data-validate="require mail" id="mail" name="mail"
                             th:field="*{email}" th:value="*{email}"
                             type="text" value="addr@sait.com"/>
                      <div class="Profile-btn Profile-btn_confirm">
                        <button class="btn btn_primary" th:text="#{profile-page.confirm}" type="button">Подтвердить
                        </button>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="form-label" for="phone" th:text="#{profile-page.phone}">Телефон</label>
                      <input class="form-input" data-mask="+7 (999) 999-99-99" data-validate="require" id="phone"
                             name="phone" th:field="*{phone}" th:value="*{phone}" type="text" value="+70000000000"/>
                      <div class="Profile-btn Profile-btn_confirm">
                        <button class="btn btn_primary" th:text="#{profile-page.confirm}" type="button">Подтвердить
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="row-block">
                    <div class="form-group">
                      <label class="form-label" for="password" th:text="#{profile-page.password}">Пароль</label>
                      <input class="form-input" id="password" name="password"
                             placeholder="Тут можно изменить пароль" th:field="*{password}"
                             th:placeholder="#{profile-page.change-password}" th:value="*{password}" type="password"/>
                    </div>
                    <div class="form-group">
                      <label class="form-label" for="passwordReply" th:text="#{profile-page.confirmation-password}">Подтверждение
                        пароля</label>
                      <input class="form-input" id="passwordReply" name="passwordReply"
                             placeholder="Введите пароль повторно" th:field="*{passwordReply}"
                             th:placeholder="#{profile-page.enter-password-reply}"
                             th:value="*{passwordReply}" type="password"/>
                    </div>
                    <div class="form-group">
                      <div class="Profile-btn">
                        <button class="btn btn_danger" th:text="#{profile-page.cancel}" type="button">Отменить</button>
                        <button class="btn btn_primary update-user-post" th:text="#{profile-page.save}" type="submit">
                          Сохранить
                        </button>
                      </div>
                      <div th:if="${updateResponse} != null">
                        <div class="Profile-success" th:if="${updateResponse.getResult()}"
                             th:text="#{profile-page.profile-saved-successfully}">Профиль успешно сохранен
                        </div>
                        <div class="Profile-success"
                             th:if="${!updateResponse.getResult()}"
                             th:text="${updateResponse.getMessage()}">Ошибка сохранения
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="Tabs-block" id="transactions">
            <div class="Transactions">
              <div class="tableWrap">
                <table class="table table_noMargin">
                  <thead>
                  <tr>
                    <th th:text="#{profile-page.datetime}">Дата и время</th>
                    <th th:text="#{profile-page.sum}">Сумма</th>
                    <th th:text="#{profile-page.description}">Описание</th>
                  </tr>
                  </thead>
                  <tbody>

                  <tr th:each="transaction : ${transactions.getTransactions()}">
                    <td th:text="${transaction.getDateTimeText()}"></td>
                    <td>
                      <span class="Transactions_textSuccess">
                        <strong th:text="${transaction.getValueText()} + ' р.'"></strong>
                      </span>
                    </td>
                    <td th:text="${transaction.getDescription()}">Пополнение счёта</td>
                  </tr>

                  <!-- <tr>-->
                  <!-- <td>5 марта 2017 13:40</td>-->
                  <!-- <td>-->
                  <!-- <span class="Transactions_textSuccess">-->
                  <!-- <strong>-480 р.</strong>-->
                  <!-- </span>-->
                  <!-- </td>-->
                  <!-- <td>Покупка книги&#32;<a href="/books/slug.html">История Беларуси</a></td>-->
                  <!-- </tr>-->

                  </tbody>
                </table>
              </div>
              <div class="Transactions-footer Transactions-footer_center">
                <a class="btn btn_primary Transactions-get" data-transactionlimit="10" data-transactionoffset="4"
                   data-transactionsort="asc" href="#" th:text="#{profile-page.show-more}">Показать еще</a>
              </div>
            </div>
          </div>
          <div class="Tabs-block" id="topup">
            <form action="#" class="form Topup" data-sendHash="34534535" method="post">
              <div class="Topup-wrap">
                <strong class="Topup-title" th:text="#{profile-page.enter-sum-msg}">Введите сумму, на которую хотите
                  пополнить свой счет:</strong>
                <div class="form-group form-group_row Topup-group">
                  <input class="form-input" id="sum" name="sum" type="text"/><span th:text="#{profile-page.rubles}">рублей</span>
                </div>
                <div class="form-group">
                  <div class="Topup-btn">
                    <button class="btn btn_primary" th:text="#{profile-page.top-up}">Пополнить</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
<footer th:insert="~{fragments/common_footer_fragment :: footerUserFragment}"></footer>
<script src="/assets/plg/jQuery/jquery-3.5.1.min.js"></script>
</body>
</html>