<!DOCTYPE html>
<html lang="ru"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Тут название страницы написать</title>
  <meta content="Описание страницы" name="description">
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" name="viewport">
<!--  <meta id="_csrf" name="_csrf" th:content="${_csrf.token}">-->
<!--  <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}">-->
  <link href="favicon.ico" rel="shortcut icon">
  <link as="font" crossorigin="anonymous" href="/assets/fonts/Montserrat/Montserrat-SemiBold.woff2" rel="preload">
  <link as="font" crossorigin="anonymous" href="/assets/fonts/Montserrat/Montserrat-Light.woff2" rel="preload">
  <link as="font" crossorigin="anonymous" href="/assets/fonts/Montserrat/Montserrat-Medium.woff2" rel="preload">
  <link as="font" crossorigin="anonymous" href="/assets/fonts/Montserrat/Montserrat-ExtraBold.woff2" rel="preload">
  <link href="/assets/css/fonts.min.css?v=65675850" rel="stylesheet">
  <link href="/assets/css/basic.min.css?v=65675850" rel="stylesheet">
  <link href="/assets/css/extra.min.css?v=65675850" rel="stylesheet">
  <script defer src="/assets/js/scripts.min.js?v=65675850"></script>
</head>
<body class="Site">
<header th:replace="~{fragments/common_header_fragment :: headerFragment (null)}"></header>
<div class="Middle Middle_form">
  <div class="Middle-top">
    <div class="wrap">
      <h1 class="Middle-title" th:text="#{signup-page.title}">Регистрация</h1>
    </div>
  </div>
  <div class="wrap">
    <main class="Middle-main">
      <form action="#" class="form Login Login_registration" method="post" th:object="${regForm}" th:action="@{/reg}">
        <div class="Login-ins">
          <div class="Login-step">
            <div class="form-group">
              <input class="form-input" data-validate="require" id="name" name="name" placeholder="Введите Имя"
                     th:placeholder="#{signup-page.enter-name}" type="text" th:field="*{name}"/>
            </div>
            <div class="form-group form-group_row">
              <div class="form-group">
                <input class="form-input form-input_phone" data-mask="+7 (999) 999-99-99" data-validate="require"
                       id="phone" name="phone" placeholder="Введите телефон" th:placeholder="#{signup-page.enter-phone}"
                       type="text" th:field="*{phone}"/>
              </div>
              <div class="form-group form-group_key">
                <input class="form-input form-input_code" data-mask="999 999" data-validate="require key" id="phoneCode"
                       name="phoneCode" placeholder="Код из СМС" th:placeholder="#{signup-page.code-from-message}"
                       type="text"/>
              </div>
              <div class="form-group">
                <button class="btn btn_success btn_sm form-btn" disabled="disabled" id="submitPhone" name="submitPhone"
                        th:text="#{signup-page.confirm}" type="button">Подтвердить
                </button>
              </div>
            </div>
            <div class="form-group form-group_row">
              <div class="form-group">
                <input class="form-input form-input_mail" data-validate="mail require" id="mail" name="mail"
                       placeholder="Введите e-mail" th:placeholder="#{signup-page.enter-email}" type="text"
                       th:field="*{email}"/>
              </div>
              <div class="form-group form-group_key">
                <input class="form-input form-input_code" data-mask="999 999" data-validate="require key" id="mailCode"
                       name="mailCode" placeholder="Код из письма" th:placeholder="#{signup-page.code-from-email}"
                       type="text"/>
              </div>
              <div class="form-group">
                <button class="btn btn_success btn_sm form-btn" disabled="disabled" id="submitMail" name="submitMail"
                        th:text="#{signup-page.confirm}" type="button">Подтвердить
                </button>
              </div>
            </div>
            <div class="form-group">
              <input class="form-input form-input_password" data-validate="password require" id="password"
                     name="password"
                     placeholder="Введите пароль" th:placeholder="#{signup-page.enter-password}" type="text"
                     th:field="*{password}"/>
            </div>

            <div class="form-group form-group_center">
              <button class="btn btn_primary form-btn" disabled="disabled" id="registration" name="registration"
                      th:text="#{signup-page.register}" type="submit">Зарегистрироваться
              </button>
            </div>
          </div>
        </div>
      </form>
    </main>
  </div>
</div>
<footer th:replace="~{fragments/common_footer_fragment :: footerFragment}"></
<script src="/assets/plg/jQuery/jquery-3.5.1.min.js"></script>
</body>
</html>