<!DOCTYPE html>
<html lang="ru"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Тут название страницы написать</title>
  <meta content="Описание страницы" name="description">
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" name="viewport">
  <!--  <meta id="_csrf" name="_csrf" th:content="${_csrf.token}">-->
  <!--  <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}">-->
  <link href="favicon.ico" rel="shortcut icon">
  <link as="font" crossorigin="anonymous" href="/assets/fonts/Montserrat/Montserrat-SemiBold.woff2" rel="preload">
  <link as="font" crossorigin="anonymous" href="/assets/fonts/Montserrat/Montserrat-Light.woff2" rel="preload">
  <link as="font" crossorigin="anonymous" href="/assets/fonts/Montserrat/Montserrat-Medium.woff2" rel="preload">
  <link as="font" crossorigin="anonymous" href="/assets/fonts/Montserrat/Montserrat-ExtraBold.woff2" rel="preload">
  <link href="/assets/css/fonts.min.css?v=27449092" rel="stylesheet">
  <link href="/assets/css/basic.min.css?v=27449092" rel="stylesheet">
  <link href="/assets/css/extra.min.css?v=27449092" rel="stylesheet">
  <script defer src="/assets/js/scripts.min.js?v=27449092"></script>
</head>
<body class="Site">
<header th:replace="~{fragments/common_header_fragment :: headerFragment (null)}"></header>
<div class="Middle Middle_form">
  <div class="Middle-top">
    <div class="wrap">
      <h1 class="Middle-title" th:text="#{signin-page.title}">Вход</h1>
    </div>
  </div>
  <div class="wrap">
    <main class="Middle-main">
      <form action="#" class="form Login" method="post">
        <div class="Login-ins">
          <div class="Login-step">
            <div class="form-group">
              <label class="form-label Login-title" th:text="#{signin-page.enter-email-or-phone}">Введите e-mail или
                телефон</label>
              <br>
              <span th:if="${regOk}">Регистрация прошла успешно</span>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="row-block">
                  <label class="toggle Login-type">
                    <input checked="checked" name="typeauth" type="radio" value="phonetype"/>
                    <span class="toggle-box"></span>
                    <span class="toggle-text" th:text="#{signin-page.phone}">Телефон</span>
                  </label>
                </div>
                <div class="row-block">
                  <label class="toggle Login-type">
                    <input name="typeauth" type="radio" value="mailtype"/>
                    <span class="toggle-box"></span>
                    <span class="toggle-text" th:text="#{signin-page.email}">E-mail</span>
                  </label>
                </div>
                <div class="row-block">
                  <label class="toggle Login-type">
                    <input name="typeauth" type="radio" value="loginpasstype"/>
                    <span class="toggle-box"></span>
                    <span class="toggle-text">Логин/пароль</span>
                  </label>
                </div>
              </div>
            </div>
            <div class="form-group form-group_phonemail">
              <input class="form-input form-input_phone" data-mask="+7 (999) 999-99-99" data-validate="require"
                     id="phone" name="phone" placeholder="Введите телефон" th:placeholder="#{signin-page.enter-phone}"
                     type="text"/>
              <input class="form-input form-input_mail" data-validate="mail require" id="mail" name="mail"
                     placeholder="Введите e-mail" th:placeholder="#{signin-page.enter-email}" type="text"/>
              <div class="form-group_center">
                <button class="btn btn_primary form-btn" data-send="" data-type="" id="sendauth" name="sendauth"
                        th:text="#{signin-page.continue}" type="button">Далее
                </button>
              </div>
            </div>
            <div class="Login-step form-group_loginpass" data-type="loginpass">
              <input class="form-input form-input_login" data-validate="mail require"
                     id="login" name="login" placeholder="Введите " th:placeholder="#{signin-page.enter-email}"
                     type="text"/>
              <input class="form-input form-input_password" data-validate="require" id="password" name="password"
                     placeholder="Введите пароль" th:placeholder="#{signin-page.enter-password}" type="password"/>
              <div class="form-group_center">
                <button class="btn btn_primary form-btn" data-send="loginpass" id="toComeInLoginPass" name="toComeInLoginPass"
                        th:text="#{signin-page.enter}" type="button">Войти
                </button>
              </div>
            </div>
            <div class="Login-step Login-step_hide" data-type="phone">
              <div class="form-group">
                <label class="form-label Login-title" th:text="#{signin-page.phone-code-msg}">На&nbsp;Ваш телефон
                  отправлено сообщение с&nbsp;кодом для входа. Введите его:</label>
              </div>
              <div class="form-group form-group_key">
                <input class="form-input" data-mask="999 999" data-validate="key require" id="phonecode"
                       name="phonecode"
                       placeholder="Код" th:placeholder="#{signin-page.code}" type="text"/>
              </div>
              <div class="form-group form-group_center">
                <button class="btn btn_primary form-btn" data-send="" id="toComeInPhone" name="toComeInPhone"
                        th:text="#{signin-page.enter}" type="button">Войти
                </button>
              </div>
            </div>
            <div class="Login-step Login-step_hide" data-type="mail">
              <div class="form-group">
                <label class="form-label Login-title" th:text="#{signin-page.email-code-msg}">На&nbsp;Ваш e-mail
                  отправлена ссылка для входа и&nbsp;код. Перейдите по&nbsp;ссылке или введите код ниже:</label>
              </div>
              <div class="form-group form-group_key">
                <input class="form-input" data-validate="key require" id="mailcode" name="mailcode"
                       placeholder="Код" th:text="#{signin-page.code}" type="text"/>
              </div>
              <div class="form-group form-group_center">
                <button class="btn btn_primary form-btn" data-send="" id="toComeInMail" name="toComeInMail"
                        th:text="#{signin-page.enter}" type="button">Войти
                </button>
              </div>
            </div>
            <div class="form-group form-group_center">
              <a class="Login-reg" href="/signup.html" th:href="@{/signup}" th:text="#{signin-page.register}">Зарегистрироваться</a>
            </div>
            <div class="form-group form-group_center">
              <a class="Login-reg" href="/signup.html" th:href="@{/oauth2/authorization/facebook}">Войти с facebook</a>
            </div>
          </div>
        </div>
      </form>
    </main>
  </div>
</div>
<footer th:replace="~{fragments/common_footer_fragment :: footerFragment}"></footer>
<script src="/assets/plg/jQuery/jquery-3.5.1.min.js"></script>
</body>
</html>